# Pandas
파이썬에서 사용하는 데이터 분석 라이브러리  
데이터는 보통 2차원으로 되어있는데 쉽게 볼 수 있고, 안정적으로 저장해줌

In [1]:
import pandas as pd

# 1. Series
1차원 데이터(정수, 실수, 문자열 등)

## Series 객체 생성
예) 1월부터 4월까지의 평균 데이터(-20, -10, 10, 20)

In [5]:
temp=pd.Series([-20,-10,10,20])
temp # 주피터 노트북은 따로 print함수를 적어주지 않아도 됨

0   -20
1   -10
2    10
3    20
dtype: int64

In [7]:
temp[0] # 리스트 안에 있는 1월 온도

-20

In [9]:
temp[2] # 3월 온도

10

# Series 객체 생성(Index 지정)

In [12]:
temp=pd.Series([-20,-10,10,20], index=['Jan','Feb','Mar','Apr'])
temp # index에 명시한 순서대로 데이터를 넣어 접근함

Jan   -20
Feb   -10
Mar    10
Apr    20
dtype: int64

In [16]:
temp['Feb'] #temp[0], 물론 index 명이 아닌 위치로 적어도 값은 출력됨

-10

In [19]:
temp['Jan'] # index Jan(1월)에 해당하는 데이터 출력

-20

In [18]:
#temp['Jun'] # 존재하지 않는 index 접근 시도 시 에러